<div class="row">
  <span class="pendingLimit">
    Pending Limit Setting : {{limitSetting}}
  </span>
</div>
<div class="row">
  <div class="col col-sm-6">
    <div class="card mb-3" style="height:95%;">
      <div class="card-body">
        <canvas baseChart height="150px" [data]="[kycNotDone, kycDone]" [labels]="pieChartLabels"
          [chartType]="pieChartType" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="card mb-3">
      <div class="card-body">
        <span style="float:right;"><b>Filter By: </b>
          <p-dropdown [options]="barChartFilter" (onChange)="selectChart();" [(ngModel)]="filterBy" [showTransitionOptions]="'10ms'" [hideTransitionOptions]="'10ms'"></p-dropdown>
        </span>
        <canvas baseChart height="150" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>


