<div>
  <div style="margin:20px 0px 20px 0px;">
    <span style="font-weight: bold;padding:5px;margin-bottom:10px;">Merchant Application View</span>
  </div>
    <app-application-chart [kyc]="kycData"  (selectedChart)="selectedChart($event)"></app-application-chart>
    <p-table #dt [columns]="cols" [value]="merchantDetailsList" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}} 
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <p-dropdown *ngSwitchCase="'status'" [(ngModel)]="statusFilter" [options]="statusList" [style]="{'width':'100%'}"
              (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span id="actions" *ngIf="col.field === 'actions';else rawData">
                <span *ngIf="rowData[col.field] === 'Notify'" (click)="open(notify,col.AppNo)">{{rowData[col.field]}}</span>
                <span *ngIf="rowData[col.field] === 'Confirm'" (click)="confirm(rowData.appNo)">{{rowData[col.field]}}</span>
              </span>
            <ng-template #rawData>
              <span *ngIf="col.field === 'status';else cellData" >
                  KYC : <span style="color:red;">  {{rowData[col.field]}} </span>
              </span>
              </ng-template>
              <ng-template #cellData>
                  {{rowData[col.field]}}
              </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  <ng-template #notify let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Notify</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Notify
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
</div>